.elementor-5161 .elementor-element.elementor-element-7a73154 {
    border-style: solid;
    border-width: 0 0 1px;
    border-color: rgba(255, 255, 255, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px 0;
}

.elementor-5161 .elementor-element.elementor-element-7a73154>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-5161 .elementor-element.elementor-element-fa4135b.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-fa4135b.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-fa4135b>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(18px / 2);
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(18px / 2);
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(18px / 2);
    margin-left: calc(18px / 2);
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-18px / 2);
    margin-left: calc(-18px / 2);
}

body.rtl .elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-18px / 2);
}

body:not(.rtl) .elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-18px / 2);
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-icon {
    --e-icon-list-icon-size: 18px;
    text-align: left;
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-text {
    color: #fff;
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-5161 .elementor-element.elementor-element-61c3ff4e .elementor-icon-list-item>a {
    font-size: 14px;
    line-height: 14px;
}

.elementor-5161 .elementor-element.elementor-element-61c3ff4e {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-5161 .elementor-element.elementor-element-c165b08.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-c165b08.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-c165b08.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5161 .elementor-element.elementor-element-c165b08>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-5161 .elementor-element.elementor-element-1083446c .elementor-icon-list-icon i {
    color: #9aa3b2;
}

.elementor-5161 .elementor-element.elementor-element-1083446c .elementor-icon-list-icon svg {
    fill: #9aa3b2;
}

.elementor-5161 .elementor-element.elementor-element-1083446c .elementor-icon-list-icon {
    --e-icon-list-icon-size: 16px;
}

.elementor-5161 .elementor-element.elementor-element-1083446c {
    width: auto;
    max-width: auto;
}

.elementor-5161 .elementor-element.elementor-element-867a093 {
    padding: 20px 0 0;
}

.elementor-bc-flex-widget .elementor-5161 .elementor-element.elementor-element-d620a5f.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-d620a5f.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-d620a5f>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-5161 .elementor-element.elementor-element-6fc0aeb1 .gsc-logo .site-branding-logo {
    max-width: 175px;
}

.elementor-5161 .elementor-element.elementor-element-6fc0aeb1>.elementor-widget-container {
    padding: 0;
}

.elementor-bc-flex-widget .elementor-5161 .elementor-element.elementor-element-c5d9dd2.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-c5d9dd2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-5161 .elementor-element.elementor-element-c5d9dd2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-5161 .elementor-element.elementor-element-c5d9dd2>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740 .gva-navigation-menu ul.gva-nav-menu>li .submenu-inner,
.gva-navigation-menu ul.gva-nav-menu>li ul.submenu-inner {
    min-width: 250px;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740 .gva-navigation-menu ul.gva-nav-menu>li>a {
    color: #9aa3b2;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740 .gva-navigation-menu ul.gva-nav-menu>li>a:hover {
    color: #fff;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740 .gva-navigation-menu ul.gva-nav-menu>li.current_page_parent>a {
    color: #fff;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740>.elementor-widget-container {
    padding: 0;
}

.elementor-5161 .elementor-element.elementor-element-69cb2740 {
    width: auto;
    max-width: auto;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box {
    text-align: right;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box .control-search i {
    font-size: 21px;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box .control-search svg {
    width: 21px;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box .control-search {
    padding: 9px 0 0;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box .gva-search .gva-search-content {
    padding: 15px;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 .gsc-search-box .gva-search-content {
    width: 200px;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03>.elementor-widget-container {
    padding: 0 0 0 15px;
}

.elementor-5161 .elementor-element.elementor-element-13cc1d03 {
    width: auto;
    max-width: auto;
}

@media (min-width: 768px) {
    .elementor-5161 .elementor-element.elementor-element-fa4135b {
        width: 68%;
    }

    .elementor-5161 .elementor-element.elementor-element-c165b08 {
        width: 42%;
    }

    .elementor-5161 .elementor-element.elementor-element-d620a5f {
        width: 20%;
    }

    .elementor-5161 .elementor-element.elementor-element-c5d9dd2 {
        width: 80%;
    }
}
